.s-header {
    background: #000;
    height: 50px;
    color: #eee;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1500;
    font-size: 1.4rem; 
    margin-bottom: 0;
    width: 100%;
}
.s-header-brand {
    line-height: 50px;
    padding: 0 10px;
    display: inline-block;

    h1 {
        font-size: 24px;
    }
}
.admin-topbar-right {
    float: right;
    margin-right: 10px;

    & > li > a {
        color: #eee;
    }
}