@font-face {
    font-family: 'iconfont';  /* project id 554761 */
    src: url('//at.alicdn.com/t/font_554761_aez1yc8n5at9be29.eot');
    src: url('//at.alicdn.com/t/font_554761_aez1yc8n5at9be29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_554761_aez1yc8n5at9be29.woff') format('woff'),
    url('//at.alicdn.com/t/font_554761_aez1yc8n5at9be29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_554761_aez1yc8n5at9be29.svg#iconfont') format('svg');
}

.icon-font {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user:before { content: "\ecc8"; }

.icon-password:before { content: "\e61b"; }

.icon-delete:before { content: "\e656"; }

.icon-right:before { content: "\e67e"; }

.icon-copy:before { content: "\e74d"; }

.icon-work:before { content: "\e61e"; }

.icon-label:before { content: "\e636"; }

.icon-help:before { content: "\e63c"; }

.icon-document-solid:before { content: "\e667"; }

.icon-admin:before { content: "\ea49"; }

.icon-full-screen:before { content: "\e691"; }

.icon-41download:before { content: "\e66b"; }

.icon-cc-write:before { content: "\e6b3"; }

.icon-users:before { content: "\e7e9"; }

.icon-table:before { content: "\e666"; }

.icon-label2f:before { content: "\e6b4"; }

.icon-home:before { content: "\e64e"; }

.icon-star:before { content: "\e683"; }

.icon-calendar:before { content: "\e669"; }

.icon-signout:before { content: "\e807"; }

.icon-photo:before { content: "\e688"; }

.icon-email:before { content: "\e60c"; }

.icon-rizhi:before { content: "\e61c"; }

.icon-todo:before { content: "\e74b"; }

.icon-edit:before { content: "\e61f"; }

.icon-search:before { content: "\e613"; }

.icon-save:before { content: "\e6f0"; }

.icon-upload:before { content: "\e72c"; }

.icon-user-md:before { content: "\e72e"; }

.icon-recycle:before { content: "\e871"; }

.icon-tool_brief:before { content: "\e646"; }
